.header {
  padding: 32px 0;
  color: $color-default-white;
  background-color: $color-nhl;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include viewport--lg {
    flex-direction: column;
  }
}

.header__title {
  margin: 0;
  margin-right: 32px;
  font-size: 24px;
  font-weight: 700;
}
