.introduction {
  padding: 32px 0;
}

.introduction__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

.introduction__link {
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.6;
  }
}
