.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 100px;

  @include viewport--xl {
    padding: 0 60px;
  }

  @include viewport--lg {
    padding: 0 32px;
  }

  @include viewport--md {
    padding: 0 24px;
  }

  @include viewport--sm {
    padding: 0 16px;
  }
}
